body{
    background-color: #edeef0;
}
.page {
    background-color: #fff;
    padding: 10px;
}
.center { text-align: center; }

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
display: block;
}
.link_generete{
    /* display: none; */
    display: block;
}
.table_heder{
    font-weight: bold;
}
.tb_border{
    border-color: inherit;
    border-style: 10px, solid, #ccf;
    border-spacing: 2px;
    border-color: inherit;
}
.margin_div{
    margin-top: 10px;
    margin-bottom: 10px;
}