{% extends 'base.html' %}

{% block title %}
Ошибка 404
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="page">
          <h4 class="center">Ой, кажется что-то пошло не так...</h4>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
              <p class="center">Страница не найдена...</p>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>

  <br>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <div class="page">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Перейти на главную</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-2">
      </div>
    </div>

<br>


    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div class="page">
            <img src="./../static/images/gif_404page.gif" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <br>

{% endblock %}